@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7e69fe;
  --primary-hover: #6c55eb; /* 10% 어둡게 */
  --primary-focus: #9080fe; /* 10% 밝게 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #7e69fe;
    --primary-hover: #9080fe; /* 다크모드에서는 hover시 더 밝게 */
    --primary-focus: #6c55eb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
